body{
    position: relative;
    overflow-y: hidden;
}

.main-div{
    min-height: 89.2%;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

 .btn-div button:hover, 
.modbtn-div button:hover, .done-btn button:hover{
    background-color: #1d2965;
}

.q-btn{
    border: none;
    background-color: #fde402;
    padding: 13px;
    font-size: 23px;
    font-weight: 500;
    color: #000000;
    height: 60px;
    cursor: pointer;
}

.tn-div{
    width: 25%;
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 240, 240);
}

.tn-header{
    background-color: #FFD41C;
    padding: 15px;
    text-align: center;
}
/* css/tn-list.css */



.tn-list {
    /* Set a fixed height or use a max-height to limit the container size */
    height: 80px; /* Adjust the value as needed */
  
    /* Enable vertical scrolling if the content exceeds the specified height */
    
  
    /* Add some padding and margin for better appearance */
    /* padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px; */
  }
  

 
  

.kahitano-div{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.lookup-btn{
    height: 50px;
    cursor: pointer;
}


/*Tracking List (Left Side)*/
.queue-button{
    border-bottom: solid 0.1px rgba(2, 2, 2, 0.212);
    border-right: none;
    border-left: none;
    border-top: none;
    background-color: #EDEDED;
    padding: 13px;
    font-size: 44px;
    font-weight: 500;
    color: black;
    height: 100px;
    cursor: pointer;
    text-align: left;
}
.queue-button:hover{
    background-color: #e2e2e2;
}



/*Student Details Display (Right Side)*/
.form-div{
    width: 75%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.2);
}

.newque-div{
    width: 100%;
    display: flex;
    justify-content: end;
}

.newque-div button{
    background-color: rgb(23, 187, 23);
    height: 50px;
    width: 155px;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-top: 12px;
    margin-right: 12px;
}

.newque-div i{
    margin-left: 5px;
}

.newque-div button:hover{
    background-color: rgb(20, 153, 20);
}

.form-div span{
    margin-left: 10px;
}

.info-div{
    width: 600px;
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.info-div h1{
    font-size: 55px;
}
.stdID-div, .transc-div, .endo-div, .rmk-div {
    margin-bottom: 5px;
    letter-spacing: 1px;
}
.stdID-div b, .transc-div b, .endo-div b, .rmk-div b {
    font-size: 22px;
}
.time-div{
    display:flex;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(198, 198, 198, 0.837);
    font-size: 17px;
}
.msg-div{
    width: 450px;
    height: 120px;
    padding: 20px;
    margin-top: 15px;
    background-color: rgb(223, 219, 219);
    border-radius: 10px;
}
.btn-div button{
    border: none;
    border-radius: 100px;
    background-color: #34418E;
    padding: 13px;
    margin: 10px;
    font-weight: 500;
    color: #FFD41C;
    padding: 30px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 50px;
}
.btn-div{
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.btn-div button i.fa-solid.fa-bell, .btn-div i.fa-times-circle {
    font-size: 22px;
    margin-right: 8px;
}

/*Modals*/
.modal-bg{
    background-color: rgba(48, 43, 43, 0.685);
    height: 99%;
    width: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
   
}

.form-modal, .done-modal, .confirm-modal, .lookup-modal, .display-lookup{
    background-color: white;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    width: 43%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 10px 0px 10px rgba(28, 28, 28, 0.718);
    margin-top: 10px;
}

.queue-data-div{ /*check fetch_all_data.php*/
    display: flex;
    margin-bottom: 10px;
    cursor: pointer;
}

.confirm-div{
    text-align: center;
    margin-bottom: 15px;
}
.confirm-div p{
    margin-top: 5px;
    margin-bottom: 15px;
    color: #FFD41C;
}
.confirm-div span{
    color: #34418E;
    font-weight: bold;
    font-size: 60px;
}
.confirm-btn{
    display: flex;
    justify-content: center;
}

.form-modal h1, .done-modal h1, .confirm-modal h1{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #34418E;
}

.modform-div h1{
    margin-top: 10px;
}

.modform-div form {
    margin-top: 28px;
}

.modform-div {
    display: none;
    flex-direction: column;
}

.modform-div form label {
    font-size: 18px;
    width: 120px;
    display: block;
}

.modform-div form .mema{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.modform-div form .rms{
    display: flex;
    flex-direction: column;
}

.modform-div form .mema input{
    padding: 5px;
    width: 200px;
    font-size: 20px;
    border: none;
    margin-left: 0px;
}

.modform-div form .rms textarea{
    padding: 10px;
    width: 100%;
    height: 120px;
    display: flex;
    margin-top: 8px;
    align-items: start;
    border-radius: 10px;
}

.modbtn-div button, .confirm-btn button{
    border: none;
    border-radius: 40px;
    background-color: #34418E;
    padding: 13px;
    margin: 10px;
    font-weight: 500;
    color: #FFD41C;
    width: 145px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
}
.modbtn-div{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.done-div{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.done-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.done-btn button{
    border: none;
    border-radius: 100px;
    width: 150px;
    height: 48px;
    background-color: #34418E;
    font-size: 20px;
    color: #FFD41C;
    margin-top: 20px;
    cursor: pointer;
}

.text-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.text-div i{
    width: 100px;
    font-size: 95px;
    color: rgb(29, 204,29);
    margin-right: 20px;
}


.text-div h1{
    font-size: 40px;
}

.mema select{
    background-color: white;
    min-width: 214px;
    height: 33px;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 10px;
}

.mema select option{
    padding: 20px 20px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    height: 20px;
    margin-bottom: 50px;
    font-size: 15px;
}

.mema select option:hover{
    background-color: lightgray;
}