:root{
    --primary-color: #34418E;
    --secondary-color: #FFD41C;
}

*{
    text-decoration: none;
    list-style-type: none;
}

html{
    font-size: 100%;
}

body::before {
    content: "";
    background-image: url("../assets/images/nulagunahero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.75; 
    z-index: -1;
}

ul {
    margin-bottom: 0;
}

.queue-list p{
    display: inline-block;
}

.window{
    text-align:left;
    width: 50%;
    font-weight:bold;
}

.window-q{
    text-align:right;
    width: 50%;
}

.main-container{
    display: grid;
    grid-template-columns: repeat(1, 35% 35% 20%);
    justify-content: center;
    gap: 2rem;
    margin: 3.5rem auto 0 auto;
    text-align: center;
}

.araa-office{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 25px;
}

.accounting-container, .registrar-container, .admissions-container, .assets-container{
    padding-right:7%;
    padding-left:7%
}

.araa-office h1, .academics-container h1{
    border-bottom: 5px solid var(--secondary-color);
    padding: .6rem 0;
    font-weight: bold;
    font-size:2rem;
}

.araa-office ul li, .araa-office p{
    font-size: 2rem;
    margin-bottom: 0.7rem;
    font-weight: 500;
    line-height: 1.3;
}

.admissions-assets-container{
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
}

.bottom-container{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 3rem;
    margin: 1rem 1rem 0 1rem;
}

.dac-container{
    color: var(--primary-color);
    border-radius: 25px;
    padding: 2rem 3rem 1.5rem 3rem;
}

.date-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align:right;
    padding-left:0;
    /* gap: 2rem; */
    /* background-color: rgba(255, 255, 255, 0.6); */
}

.date-container h1{
    font-size: 5rem;
    color: white;
    font-weight: bolder;
    margin-top:0;
    padding-top:0;
}

.date-container h3{
    font-size: 2.5rem;
    color: black;
    font-weight: bolder;
    margin-bottom:0;
    padding-bottom:0;
}

.academics-container{
    /* para magpantay sa ibang div */
    padding: 0;
    display: flex; 
    flex-direction: column;
}

.academics-container h1{
    background-color: var(--secondary-color);
    border-radius: 25px;
}

.academics-container ul{
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 25px;
    padding-top:10px;
}

.academics-container ul li{
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.3;
    padding-right:14%;
    padding-left:7%
}


.cig-container {
    background-color: rgba(255, 255, 255, 0.6);
}

.clinic-container, .itro-container, .guidance-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.clinic-container h1, .itro-container h1, .guidance-container h1{
    font-weight:bold;
}

.clinic-container p, .itro-container p, .guidance-container p{
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.3;
}

/* MEDIA QUERY*/
@media (max-width: 3600px) {
    html{
        font-size: 270%;
    }
}

@media (max-width: 3400px) {
    html{
        font-size: 260%;
    }

}

@media (max-width: 2560px) {
    html{
        font-size: 200%;
    }

    .main-container{
        margin-top: 3rem;
    }
}

@media (max-width: 1920px) {
    html{
        font-size: 110%;
    }

    .main-container{
        margin-top: 0 auto 0 auto;
    }
}

@media (max-width: 1440px) {
    html{
        font-size: 105%;
    }

    .main-container{
        margin-top: 1rem auto 0 auto;
    }
}

@media (max-width: 1366px) {
    html{
        font-size: 100%;
    }
}

@media (max-width: 1280px) {
    html{
        font-size: 100%;
    }

    .main-container{
        margin-top: 3rem;
    }
}


@media (max-width: 1100px) {
    html{
        font-size: 85%;
    }
    .main-container{
        margin-top: 3rem;
    }
}

@media (max-width: 1024px) {
    html{
        font-size: 70%;
    }

    .main-container{
        margin-top: 3rem;
    }
}

@media (max-width: 772px) {
    body::before {
        background-image: url("assets/images/nulagunaheromobile.jpg");
    }
    .main-container{
        grid-template-columns: 1fr;
        width: 80%;
        max-width: 1200px;
        margin: 7rem auto 1.5rem auto;
    }

    .araa-office h1, .academics-container h1{
        border-bottom: 2px solid var(--secondary-color);
    }

    .admissions-assets-container{
        gap: 2rem;
    }
}

@media (max-width: 576px) {
    html{
        font-size: 60%;
    }
}