
.options-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 100px;
    background-color: white;
    border-style: solid ;
    border-color: black;
    border-width: thin;
    border-radius: 1%;
  }

  .options-container h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }

  .options-container h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #003366;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
  
  .options ul {
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    padding: 0;
  }

  .options2 li {
    font-family: Arial, Helvetica, sans-serif;
    color: #003366;
    background-color: #ffd41c;
    display: flex;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
  }

  .options1 li {
    font-family: Arial, Helvetica, sans-serif;
    color: #003366;
    background-color: #ffd41c;
    display: flex;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
  }

  .options1 li:hover {
    background-color: #ffdb58;
    color: #34418E;
    font-weight: lighter;
  }
  
  .options2 li:hover {
    background-color: #ffdb58;
    color: #34418E;
    font-weight: lighter;
  }

  .options li a {
    text-decoration: none;
    color: black;
  }

  .back-button {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 10px;
    cursor: pointer;
  }