:root{
    --primary-color: #34418E;
    --secondary-color: #FFD41C;
}

*{
    text-decoration: none;
    list-style-type: none;
}

html{
    font-size: 100%;
}

body::before {
    content: "";
    background-image: url("./assets/images/nulagunahero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6; 
    z-index: -1;
}

.title-div{
    color:#34418E;
    background-color: #FFD41C;
    border-radius: 20px;
    width: 40%;
    text-align: center;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
}

.main-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 98vh;
    
}

.main-container{
    margin-top: 10px;
}

.main-container p{
    color: white;
}

.firstrow-div, .secrow-div{
    width: 100%;
    display: flex;
}

.secrow-div{
    display: flex;
    justify-content: center;
    align-items: center;
}


.firstrow-div .shs, .sea, .sabm{
    background-color: #34418E;
    border-radius: 20px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    width: 400px;
    /* height: 300px; */
    display: flex;
    flex-direction: column;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
}

.secrow-div .sas, .secrow-div .scs{
    background-color: #34418E;
    border-radius: 20px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    border-bottom: 2px white;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
}

.secrow-div .sas{
    width: 500px;
}

 .secrow-div .scs{
    width: 400px;
} 



.header-title{
    color: #34418E;
    background-color: #FFD41C;
    border-radius: 30px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
} 

.header-title p, .header-title h2{
    color: #34418E;
    font-size: 35px;
    font-weight: bold;
}

.course-div{
    
}
.course-div div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.course-div .list-div{
    border-bottom: 2px white solid;
}


.course-div p{
    font-size: 25px;
    margin-left: 30px;
    margin-right: 30px;
}

.course-div .quenum-div{
    font-weight: bold;
}

.date-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-left:0;
    position: absolute;
    left: 20px;
    bottom: -40px;
    
    /* gap: 2rem; */
    /* background-color: rgba(255, 255, 255, 0.6); */
}

.date-container h1{
    font-size: 5rem;
    color: black;
    font-weight: bolder;
    margin-top:0;
    padding-top:0;
}

.date-container h3{
    font-size: 2.5rem;
    color: black;
    font-weight: bolder;
    margin-bottom:0;
    padding-bottom:0;
}

.dac-container{
    color: var(--primary-color);
    border-radius: 25px;
    
}

